
html {
    scroll-behavior: smooth;
  }

.footer-arrow {
    color:blue;
    position:fixed;
    padding: 20px;
    margin: 0 16px 8px 0;
    bottom: 0;
    right: 0;
    transition-property: color;
    cursor: pointer;
    transition-duration: 5000ms;
    text-align: center;
    //width: 20px;
    
    &:active {
        color:red;
        //width: 30px;
        
    }
}
