@import '../styles/Reset.scss';
@import url('http://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

                
html {
    
    background-color: rgb(66, 66, 66);
}
.app {
    display: grid;
    place-items: center;
    font-family: 'Garamond', serif;

    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
      }
}

.footer-arrow {
    color:rgb(210, 210, 210);
    border-radius:0;
    position:fixed;
    padding: 3rem 1.5rem;
    bottom: 0.5rem;
    right: 0rem;
    font-size: 4rem;
    transition-property: color;
    cursor: pointer;
    transition-duration: 200ms;
    text-align: center;

    &:hover{
        color: white;
    }
    
    &:active {
        color:rgb(255, 255, 255);
    }

    @media all and (max-width: 600px) {
        transform: scale(1.5);
    }
}

.header{
    display: grid;  
    place-items: center;
    padding: 5rem;      

    &-logo{
        width: 80%;        
    }
}

.footer {
    font-size: 1.9rem;
    text-align: center;
    padding: 10rem 0 5rem 0;
    color: rgba(255, 255, 255, 0.525);
    

    &-link {
        text-decoration:underline;
    }
}

/* 
.header-title{
    text-align: center;
    width: 90vw;
    font-family: 'Harry Potter', sans-serif;
    background: #F2D203;
    background: linear-gradient(to bottom left, #F2D203 0%, #CFA20E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.25));

} */