@import '../styles/Reset.scss';
@import url('http://fonts.cdnfonts.com/css/harry-potter');

                

.app {
    background-color: rgb(110, 110, 110);
    width: 100vw;
    min-height: 100vh;
    max-height: 100%;
    display: grid;
    place-items: center;
}

.footer-arrow {
    color:rgb(210, 210, 210);
    border-radius:0;
    position:fixed;
    padding: 3rem 1.5rem;
    bottom: 0.5rem;
    right: 0rem;
    font-size: 4rem;
    transition-property: color;
    cursor: pointer;
    transition-duration: 200ms;
    text-align: center;
    
    &:active {
        color:rgb(255, 255, 255);
    }

    @media all and (max-width: 480px) {
        transform: scale(1.5);
    }
}

.header-title{
    text-align: center;
    font-size: 8rem;
    width: 15ch;
    padding: 10%;
    font-family: 'Harry Potter', sans-serif;
    background: #F2D203;
    background: linear-gradient(to bottom left, #F2D203 0%, #CFA20E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.25));

}